<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="admin.css"> />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!--fonts-->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,400;1,500;1,600;1,700;&display=swap" rel="stylesheet"> -->

    <title>Admin Dashboard!</title>
</head>

<body>

    <div class="page-container">
        <div class="page-sidebar-wrapper">
            <div class="sidebar">
                <div class="logo">
                    <div class="d-flex justify-content-center align-items-center">
                        <img src="./images/logo.svg" alt="logo" class="logo-img mr-3">
                        <div class="logo-text">
                            FPTBOOK
                        </div>
                    </div>
                </div>
                <div class="user-info d-flex">
                    <div>
                        <img src="./images/man.svg" alt="user-img" class="user-img">
                    </div>
                    <div class="d-flex flex-column">
                        <h5>M5Micheal</h5>
                        <p>Namdhgch190700@fpt.edu.vn</p>
                    </div>
                </div>
                <ul class="nav flex-column menu-link">
                    <li class="nav-item">
                        <a href="#" class="nav-link"><i class="fal fa-book book-icn"> </i>
                            <p class="text-icn"> Dashboard</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link"><img src="./images/shopping-bag.svg" alt="dashboard">Orders</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link"><img src="./images/user.svg" alt="dashboard">Customers</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="page-content-wrapper">
            <div class="page-content">
                <div class="top-bar d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                        <div>
                            <img src="./images/menu.svg" alt="menu" onclick="toggle()" class="toggler">
                        </div>
                        <!-- <div class="search-bar">
                                          <input type="text" placeholder="Search Something..." class="global-search">
                                          <img src="./images/search.svg" alt="" class="search-icon" />
                                    </div> -->
                    </div>
                    <div class="d-flex align-items-center">
                        <div class="icon-btn">
                            <img src="./images/notification.svg" alt="notification" />
                        </div>
                        <div class="icon-btn">
                            <img src="./images/setting.svg" alt="settings" />
                        </div>
                        <div class="log-btn d-flex align-items-center">
                            <div>
                                <img src="./images/man.svg" alt="">
                            </div>
                            <div>
                                <h6>M5Micheal</h6>
                                <p>Super Admin</p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="inner-section">
                    <h2 class="page-title">Dashboard</h2>
                    <div class="row">
                        <div class="col-md-7 col-lg-7 col-xl-4 col-12">
                            <div class="dash-card d-flex align-items-center">
                                <div class="img-box order-box d-flex align-items-center justify-content-center mr-5">
                                    <img src="./images/cart.svg" alt="cart" />
                                </div>
                                <div class="dash-content">
                                    <h4>Orders</h4>
                                    <p>1000+</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 col-lg-7 col-xl-4 col-12">
                            <div class="dash-card d-flex align-items-center">
                                <div class="img-box customer-box d-flex align-items-center justify-content-center mr-5">
                                    <img src="./images/customers.svg" alt="customers" />
                                </div>
                                <div class="dash-content">
                                    <h4>Customers</h4>
                                    <p>500+</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 col-lg-7 col-xl-4 col-12">
                            <div class="dash-card d-flex align-items-center">
                                <div class="img-box product-box d-flex align-items-center justify-content-center mr-5">
                                    <img src="./images/product.svg" alt="cart" />
                                </div>
                                <div class="dash-content">
                                    <h4>Products</h4>
                                    <p>700+</p>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="container-fluid">
                            <div class="dash-card">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h4>Customers</h4>
                                    <img src="./images/more.svg" alt="more" />
                                </div>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>S.No</th>
                                                <th>Customer ID</th>
                                                <th>Customer Name</th>
                                                <th>Status</th>
                                                <th>Operation</th>
                                                <th>Operation</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>001</td>
                                                <td>Hoài Nam</td>
                                                <td class="Online">Online</td>
                                                <td class="Upadte"> <a href="">Update</a> </td>
                                                <td class=" Delete"><a href="">Delete</a> </td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>003</td>
                                                <td>Son Hán</td>
                                                <td class="Online">Online</td>
                                                <td class="Upadte"> <a href="">Update</a> </td>
                                                <td class=" Delete"><a href="">Delete</a> </td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>004</td>
                                                <td>Thu Hương</td>
                                                <td class="Online">Online</td>
                                                <td class="Upadte"> <a href="">Update</a> </td>
                                                <td class=" Delete"><a href="">Delete</a> </td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>008</td>
                                                <td>Micheal</td>
                                                <td class="Online">Online</td>
                                                <td class="Upadte"> <a href="">Update</a> </td>
                                                <td class=" Delete"><a href="">Delete</a> </td>
                                            </tr>
                                            <tr>
                                                <td>5</td>
                                                <td>008</td>
                                                <td>Xuan Bắc</td>
                                                <td class="Offline">Offline</td>
                                                <td class="Upadte "> <a href="">Update</a> </td>
                                                <td class=" Delete"><a href="">Delete</a> </td>
                                            </tr>
                                            <tr>
                                                <td>6</td>
                                                <td>012</td>
                                                <td>Xuân Hinh</td>
                                                <td class="Offline">Offline</td>
                                                <td class="Upadte"> <a href="">Update</a> </td>
                                                <td class=" Delete"><a href="">Delete</a> </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-md-12 col-lg-5">
                                          <div class="dash-card">
                                                <div class="d-flex justify-content-between align-items-center ">
                                                      <h4>Users</h4>
                                                      <img src="./images/more.svg" alt="more" />
                                                </div>
                                                <div class="table-responsive">
                                                      <table class="table">
                                                            <thead>
                                                                  <tr>
                                                                        <th>Users</th>
                                                                        <th>Status</th>
                                                                  </tr>
                                                            </thead>
                                                            <tbody>
                                                                  <tr>
                                                                        <td>M5 M5Micheal</td>
                                                                        <td>active</td>
                                                                  </tr>
                                                                  <tr>
                                                                        <td>Son Han</td>
                                                                        <td>active</td>
                                                                  </tr>
                                                                  <tr>
                                                                        <td>Thu Huong</td>
                                                                        <td>active</td>
                                                                  </tr>

                                                            </tbody>
                                                      </table>
                                                </div>
                                          </div>
                                    </div> -->
                    </div>


                </div>


            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script>

        function toggle() {
            $('.sidebar').toggleClass('active');
            $('.page-content-wrapper').toggleClass('active');
        }

        $(document).ready(function () {
            $(window).bind('resize', function () {
                if ($(this).width() < 992) {
                    $('.sidebar,.page-content-wrapper').addClass('active');
                    $('.search-bar,.toggler').hide();
                } else {
                    $('.sidebar,.page-content-wrapper').removeClass('active');
                    $('.search-bar,.toggler').show();
                }
            }).trigger('resize');
        });

    </script>



</body>

</html>