<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/style.css" />
  <title>manageCustomerOrder</title>
</head>

<body style="margin: 0;">
  <form method="POST" action="/feedback">
    <input type="hidden" name="id" value="{{query}}">
    <input type="text" name="feedback">
    <button type="submit">Submit</button>
  </form>
</body>

</html>