<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="style.css">

    <title>Login</title>
</head>

<body>
    <div class="login-form-container">

        <div id="close-login-btn" class="fas fa-times"></div>

        <form method="POST" action="/login">
            <center><h2 style="color: red;">{{errorMsg}}</h2></center>
            <h3>sign in</h3>
            <span>username</span>
            <input type="name" name="" class="box" placeholder="Enter your name" id="">
            <span>password</span>
            <input type="password" name="" class="box" placeholder="Enter your password" id="">
            <div class="login__decentralization">
                <select name="Role" class="decentralization">
                    <option value="admin">Admin</option>
                    <option value="user">Customer</option>
                </select>
                <div class="checkbox">
                    <input type="checkbox" name="" id="remember-me">
                    <label for="remember-me"> Remember me</label>
                </div>
            </div>

            <button type="submit" value="sign in" class="btn"> <a href="/">Sign in </a> </button>
            <p>forget password ? <a href="#">Click here</a></p>
            <p>don't have an account ? <a href="#">Sign Up</a></p>
        </form>

    </div>

</body>
<!-- custom js file link  -->
<script src="/script.js"></script>

</html>