<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="style.css">

    <title>Login</title>
</head>

<body>
    <div class="login-form-container">

        <div id="close-login-btn" class="fas fa-times"></div>

        <form action="">
            <h3>Register</h3>
            <span>Username</span>
            <input type="text" name="" class="box" placeholder="enter your Name" id="">
            <span>Email</span>
            <input type="email" name="" class="box" placeholder="enter your Email" id="">
            <span>Password</span>
            <input type="password" name="" class="box" placeholder="enter your Password" id="">
            <span>Re-Password</span>
            <input type="password" name="" class="box" placeholder="enter your  Re-Password" id="">
            <span>Home Address</span>
            <input type="text" name="" class="box" placeholder="enter your  Home Address" id="">
            <div class="login__decentralization">
                <select name="Role" class="decentralization">
                    <option value="admin">Admin</option>
                    <option value="User">User</option>
                </select>
            </div>
            <button type="submit" value="Register" class="btn"> <a href="/"></a> Register</button>
            <p><a href="/login">Login</a></p>
        </form>

    </div>

</body>
<!-- custom js file link  -->


</html>